:root{
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

*{
  scrollbar-width: none;
}
h1,p{
  font-family: 'Courier New', Courier, monospace;
}

html{
  scrollbar-width: none;
}